*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://wallpapercave.com/wp/4L5OhqD.jpg);
    background-size: cover;
}

#box{
    background-color: black;
    border: 5px solid gray;
    border-style: dotted;
    border-radius: 16px;
    margin-top: 6%;
    margin-left: 18%;
    width: 690px;
    height: 480px;
}

.botões{
    margin-top: 1.5%;
    display: block;
    justify-content: center;
    align-items: center;
}

img{
    align-items: center;
    justify-content: center;
    width: 580px;
    height: 400px;
}

@media screen and (max-width:100%){
    video{width:200px;}
}