    body{
    background-color: #000424;
    height: 100%;
    margin: 0;
        }
        .logo{
    position: absolute;
    margin-left: 2%;
    margin-top: -1%;
        }

        #sobre_nós{
    font-family: Inria Sans;
    font-size: 18px;
    font-weight: bold;
    line-height: 18%;
    position: absolute;
    margin-left: 48%;
    margin-top: 3.5%;
    color: #FFFFFF;
     background-color: body;
     border: 5px solid #FFFFFF;
     border-radius: 0%;
     display: block;
     line-height: 25px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     padding: 5px 20px;
     width: 140px;
        }

        #produtos{
    font-family: Inria Sans;
    font-size: 18px;
    font-weight: bold;
    line-height: 18%;
    position: absolute;
    margin-left: 63%;
    margin-top: 3.5%;
    color: #FFFFFF;
     background-color: body;
     border: 5px solid #FFFFFF;
     border-radius: 0%;
     display: block;
     line-height: 25px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     padding: 5px 20px;
     width: 130px;
        }

        #contato{
    font-family: Inria Sans;
    font-size: 18px;
    font-weight: bold;
    line-height: 18%;
    position: absolute;
    margin-left: 77.5%;
    margin-top: 3.5%;
    color: #FFFFFF;
    background-color: body;
     border: 5px solid #FFFFFF;
     border-radius: 0%;
     display: block;
     line-height: 25px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     padding: 5px 20px;
     width: 134px;
        }

        div.faixa{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    background: #444444;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1.5%;
    display: block;
        }

        div.faleconosco{
    background: body;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 16px;
    display: block;
    margin-top: -2%;
    margin-left: 6%;
    margin-right: 45%;
    padding: 6%;
        }

        select.simplebasic{
    background: transparent; 
    height: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 4%;
    display: block;
    text-align: justify;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        div.transporte{
    background: body;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 16px;
    display: block;
    margin-top: 2%;
    margin-left: 6%;
    margin-right: 45%;
    padding: 6%;
        }

        .fonte{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .news{
    position: absolute;
    margin-top: 22%;
    margin-left: 6%;
    color: #FFFFFF;
    font-family: inria sans;
    font-size: 21px;
        } 

    /*    .nome{
    position:absolute; 
    margin-top: 22.7% ;
    margin-left: 32%; 
    border-style: groove; 
    background-color: grey;
    border-radius: 3px;
     box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                   0 2px 7px rgba(0, 0, 0, 0.2);
     color: #FFFFFF;
     display: block;
     font-family: Roboto;
     font-size: 14px;
     font-weight: bold;
     line-height: 12px;
     text-align: left;
     text-decoration: none;
     text-transform: uppercase;
     padding: 8px 16px;
     width: 230px;
        }

        .email{
    position:absolute; 
    margin-top: 22.7% ;
    margin-left: 56%; 
    border-style: groove; 
    background-color: grey;
    border-radius: 3px;
     box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                   0 2px 7px rgba(0, 0, 0, 0.2);
     color: #FFFFFF;
     display: block;
     font-family: Roboto;
     font-size: 14px;
     font-weight: bold;
     line-height: 12px;
     text-align: left;
     text-decoration: none;
     text-transform: uppercase;
     padding: 8px 15px;
     width: 230px;
        }

        .cadastro{
     position: absolute;
     margin-top: 22.2%;
     margin-left: 81%;
     background-color: #710101;
     border-radius: 5px;
     box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                   0 2px 7px rgba(0, 0, 0, 0.2);
     color: #FFFFFF;
     display: block;
     font-family: Roboto;
     font-size: 17px;
     font-weight: bold;
     line-height: 25px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     padding: 10.5px 20px;
     width: 100px;
        }*/

#nome{
    position:absolute; 
    margin-top: 22.2% ;
    margin-left: 32%; 
    width: 250px;
    padding: 8px 16px;

}
#email{
    position:absolute; 
    margin-top: 22.2% ;
    margin-left: 54%; 
    width: 315px;
    padding: 8px 15px
}

#cadastro{
     position: absolute;
     margin-top: 22.2%;
     margin-left: 81%;
}

/* --------     BOTÃO      ---------- */

.btn-botao {
    color: #fff;
    background-color: rgb(113, 1, 1);
    border-color: rgb(113, 1, 1);
  }
  
  .btn-botao:hover {
    color: #fff;
    background-color: rgb(113, 1, 1);
    border-color: rgb(113, 1, 1);
  }
  
  .btn-botao:focus, .btn-botao.focus {
    box-shadow: 0 0 0 0.2rem rgb(141, 0, 0);
  }
  
  .btn-botao.disabled, .btn-botao:disabled {
    color: #fff;
    background-color: rgb(113, 1, 1);
    border-color: rgb(113, 1, 1);
  }
  
  .btn-botao:not(:disabled):not(.disabled):active, .btn-botao:not(:disabled):not(.disabled).active,
  .show > .btn-botao.dropdown-toggle {
    color: #fff;
    background-color: rgb(113, 1, 1);
    border-color: rgb(88, 2, 2);
  }
  
  .btn-botao:not(:disabled):not(.disabled):active:focus, .btn-botao:not(:disabled):not(.disabled).active:focus,
  .show > .btn-botao.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(141, 0, 0);
  }

  .btn-outline-botao:not(:disabled):not(.disabled):active:focus, .btn-outline-botao:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-botao.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem white;
  }
/* --------     BOTÃO      ---------- */

        #r_sobre_nós{
    font-family: Inria Sans;
    font-size: 25px;
    font-weight: bold;
    line-height: 31%;
    position: absolute;
    color: #FFFFFF;
        }

        #r_list{
    font-family: Inria Sans;
    font-size: 18px;
    font-weight: bold;
    line-height: 31%;
    position: absolute;
    color: #FFFFFF;
        }