    body{
    background-color: #000424;
    height: 100%;
    margin: 0;
}
        .logo{
    position: absolute;
    margin-left: 2%;
    margin-top: -1%;
}

/* ------ LINKS SUPERIORES ------- */

        #sobre_nós{
    font-family: Inria Sans;
    font-size: 18px;
    font-weight: bold;
    line-height: 18%;
    position: absolute;
    margin-left: 48%;
    margin-top: 3.5%;
    color: #FFFFFF;
     background-color: body;
     border: 5px solid #FFFFFF;
     border-radius: 0%;
     display: block;
     line-height: 25px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     padding: 5px 20px;
     width: 100px;
}

        #produtos{
    font-family: Inria Sans;
    font-size: 18px;
    font-weight: bold;
    line-height: 18%;
    position: absolute;
    margin-left: 63%;
    margin-top: 3.5%;
    color: #FFFFFF;
     background-color: body;
     border: 5px solid #FFFFFF;
     border-radius: 0%;
     display: block;
     line-height: 25px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     padding: 5px 20px;
     width: 100px;
}

        #contato{
    font-family: Inria Sans;
    font-size: 18px;
    font-weight: bold;
    line-height: 18%;
    position: absolute;
    margin-left: 77.5%;
    margin-top: 3.5%;
    color: #FFFFFF;
    background-color: body;
     border: 5px solid #FFFFFF;
     border-radius: 0%;
     display: block;
     line-height: 25px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     padding: 5px 20px;
     width: 100px;
}
        .fonte{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: white;
    text-align: justify;
}

        .news{
    position: absolute;
    margin-top: 53%;
    margin-left: 6%;
    color: #FFFFFF;
    font-family: inria sans;
    font-size: 21px;
} 

        .nome{
    position:absolute; 
    margin-top: 53.7% ;
    margin-left: 32%; 
    border-style: groove; 
    background-color: grey;
    border-radius: 3px;
     box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                   0 2px 7px rgba(0, 0, 0, 0.2);
     color: #FFFFFF;
     display: block;
     font-family: Roboto;
     font-size: 14px;
     font-weight: bold;
     line-height: 12px;
     text-align: left;
     text-decoration: none;
     text-transform: uppercase;
     padding: 8px 16px;
     width: 230px;
}

        .email{
    position:absolute; 
    margin-top: 53.7% ;
    margin-left: 56%; 
    border-style: groove; 
    background-color: grey;
    border-radius: 3px;
     box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                   0 2px 7px rgba(0, 0, 0, 0.2);
     color: #FFFFFF;
     display: block;
     font-family: Roboto;
     font-size: 14px;
     font-weight: bold;
     line-height: 12px;
     text-align: left;
     text-decoration: none;
     text-transform: uppercase;
     padding: 8px 15px;
     width: 230px;
}

        .cadastro{
     position: absolute;
     margin-top: 53%;
     margin-left: 81%;
     background-color: #710101;
     border-radius: 5px;
     box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                   0 2px 7px rgba(0, 0, 0, 0.2);
     color: #FFFFFF;
     display: block;
     font-family: Roboto;
     font-size: 17px;
     font-weight: bold;
     line-height: 25px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     padding: 10.5px 20px;
     width: 100px;
    }

        #r_sobre_nós{
    font-family: Inria Sans;
    font-size: 25px;
    font-weight: bold;
    line-height: 28%;
    position: absolute;
    color: #FFFFFF;
}

        #r_list{
    font-family: Inria Sans;
    font-size: 18px;
    font-weight: bold;
    line-height: 28%;
    position: absolute;
    color: #FFFFFF;
}