    body{
        background-color: #000424;
        height: 100%;
        margin: 0;
    }
            .logo{
        position: absolute;
        margin-left: 2%;
        margin-top: 0%;
    }
    
            .busca{
                position: absolute;
                width: 45%;
                margin-left: 25%;
                margin-block-start: 3.5%;
                display:block;
                align-items:center;
                justify-content:center;
                text-align: center;
    }

    .btn.btn-outline-secondary{background-color:#920000;border-color:#920000;}
    .btn.btn-outline-secondary:hover{background-color:#b90000;border-color:#b90000;
    }
            .carrinho{
        position: absolute;
         margin-top: 53%;
         margin-left: 81%;
         background-color: #710101;
         border-radius: 5px;
         box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                       0 2px 7px rgba(0, 0, 0, 0.2);
         color: #FFFFFF;
         display: block;
         font-family: Roboto;
         font-size: 17px;
         font-weight: bold;
         line-height: 25px;
         text-align: center;
         text-decoration: none;
         text-transform: uppercase;
         padding: 10.5px 20px;
         width: 100px;
        }
    
            #UgCanvas{
        position: absolute;
        background-color: #FAFAFA;
        margin-top: 7%;
        margin-bottom: 5%;
        padding: 25% 46.3%;
      
    }
    
            div.classificação{
        z-index:1000;
        position: relative;
        background: black;
        margin-top: 9%;
        margin-bottom: 5%;
        padding: 6%;
        display: block;    
    }
    
            .news{
        position: absolute;
        margin-top: 53%;
        margin-left: 6%;
        color: #FFFFFF;
        font-family: inria sans;
        font-size: 21px;
    } 
    
    #nome{
    position:absolute; 
    margin-top: 53.1% ;
    margin-left: 32%; 
    width: 250px;
    padding: 8px 16px;

}

  /*  border-style: groove; 
    background-color: grey;
    border-radius: 3px;
     box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                   0 2px 7px rgba(0, 0, 0, 0.2);
     color: #FFFFFF;
     display: block;
     font-family: Roboto;
     font-size: 14px;
     font-weight: bold;
     line-height: 12px;
     text-align: left;
     text-decoration: none;
     text-transform: uppercase;
     padding: 8px 16px;
     width: 230px;*/

#email{
    position:absolute; 
    margin-top: 53.1% ;
    margin-left: 54%; 
    width: 315px;
    padding: 8px 15px

/*    border-style: groove; 
    background-color: grey;
    border-radius: 3px;
     box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                   0 2px 7px rgba(0, 0, 0, 0.2);
     color: #FFFFFF;
     display: block;
     font-family: Roboto;
     font-size: 14px;
     font-weight: bold;
     line-height: 12px;
     text-align: left;
     text-decoration: none;
     text-transform: uppercase;
     padding: 8px 15px;
     width: 230px;*/
}

#cadastro{
     position: absolute;
     margin-top: 53.5%;
     margin-left: 81%;
     
    /* background-color: #710101;
     border-radius: 5px;
     box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                   0 2px 7px rgba(0, 0, 0, 0.2);
     color: #FFFFFF;
     display: block;
     font-family: Roboto;
     font-size: 17px;
     font-weight: bold;
     line-height: 25px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     padding: 10.5px 20px;
     width: 100px;
    }*/
}

/* --------     BOTÃO      ---------- */

.btn-botao {
    color: #fff;
    background-color: rgb(113, 1, 1);
    border-color: rgb(113, 1, 1);
  }
  
  .btn-botao:hover {
    color: #fff;
    background-color: rgb(113, 1, 1);
    border-color: rgb(113, 1, 1);
  }
  
  .btn-botao:focus, .btn-botao.focus {
    box-shadow: 0 0 0 0.2rem rgb(141, 0, 0);
  }
  
  .btn-botao.disabled, .btn-botao:disabled {
    color: #fff;
    background-color: rgb(113, 1, 1);
    border-color: rgb(113, 1, 1);
  }
  
  .btn-botao:not(:disabled):not(.disabled):active, .btn-botao:not(:disabled):not(.disabled).active,
  .show > .btn-botao.dropdown-toggle {
    color: #fff;
    background-color: rgb(113, 1, 1);
    border-color: rgb(88, 2, 2);
  }
  
  .btn-botao:not(:disabled):not(.disabled):active:focus, .btn-botao:not(:disabled):not(.disabled).active:focus,
  .show > .btn-botao.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(141, 0, 0);
  }

  .btn-outline-botao:not(:disabled):not(.disabled):active:focus, .btn-outline-botao:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-botao.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem white;
  }
/* --------     BOTÃO      ---------- */
    
            #r_sobre_nós{
        font-family: Inria Sans;
        font-size: 25px;
        font-weight: bold;
        line-height: 28%;
        position: absolute;
        color: #FFFFFF;
    }
    
            #r_list{
        font-family: Inria Sans;
        font-size: 18px;
        font-weight: bold;
        line-height: 28%;
        position: absolute;
        color: #FFFFFF;
    }