#banner-home{
    margin: 0px auto;
}
.banner{
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 1%;
    width: 99.8%;
}
#destaques{
    background-color: #000424;
}
.example-card{
    margin-top: 70%;
    width: 25%;
}