<div id="banner-home">
    <img class="banner" src="./assets/img/banner1.jpg" alt="banner">
</div>
<div id="icones"> 
    <img style="position: absolute; margin-top: 30% ; margin-left: 17%" src="./assets/img/game.png" alt="Icon game" width="15%">
    <img style="position: absolute; margin-top: 32% ; margin-left: 36%" src="./assets/img/work3.png" alt="Icon work" width="12%">
    <img style="position: absolute; margin-top: 31.5% ; margin-left: 54%" src="./assets/img/home.png" alt="Icon home" width="12%">
    <img style="position: absolute; margin-top: 32% ; margin-left: 69%" src="./assets/img/config.png" alt="Icon config" width="13%">
</div>
