*{
    margin: 0px;
    padding: 0px;
};

body {
    background-color: #D4ECDD;
}

#logo{
    background-color: #152D35;
    height: 120px;
    display: flex;
    align-items:center;
    text-align: center;
    justify-content:center;
}

.single-color{
    color: #D4ECDD;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.1;
}

.single-color:hover{
    color: #345B63;
    text-decoration: none;
}

/*.gradient{
    background-image: linear-gradient(to bottom,rgb(21, 45, 53), rgb(52, 91, 99),  rgb(212, 236, 221));
    background-clip: text;  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/

#nav{
    background-color: #152D35;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    color: #D4ECDD;
}

.nav-link:hover{
    color: #345B63;
}

#box{
    background-color: black;
    border: 3px solid yellow; 
    box-shadow: 5px 5px 8px #345B63;
    border-radius: 16px;
    padding: 40px 240px;
    margin-top: 6%;
    margin-left: 32%;
    display: flex;
}

img{
    position: fixed;
    margin-top: -110px;    
    margin-left: 50px;
}

.maiorde18{
    position: absolute;
    margin-left: -120px;
    color: white;
    font-size: 23px;
}

#botao1{
    position: block;
    padding: 10px 80px;
    margin-top: 120px;
    margin-left: -130px;
}
#botao2{
    position: block;
    padding: 10px 8px;
    margin-top: 120px;
}

@media screen and (max-width: 1000px){
    #logo,#nav{padding: 90px 300px;}
    #box{padding: 40px 240px; margin-left: 16%;margin-top: 22%;}
    img{width: 25%;}
    .maiorde18{margin-top: 70px;}
    #botao1{margin-top: 210px;}
    #botao2{margin-top: -58px; margin-left: 14px;}
}