<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a class="logo" routerLink="/">
            <img src="./assets/img/logo.png" alt="Logo da empresa" width="21%">
        </a>
        <div class="menu-links">
            <a id="sobre_nós" mat-button href="#" routerLink="/sobre_nos">SOBRE NÓS</a>
            <a id="produtos" mat-button href="#" routerLink="/produtos">PRODUTOS</a>            
            <a id="contato" mat-button href="#" routerLink="/contato">CONTATO</a>
            <a class="login" routerLink="login">
                <img type="button" value="sim" onclick="document.getElementById('id01').style.display='block'" src="./assets/img/icon_hambr.png" alt="Login">
            </a>
        </div>x
    </mat-toolbar-row>
</mat-toolbar>